.container__addCart {
    background-color: #F9FAFB;
    min-height: 200vh;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

.title__product h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.product__left_laptop {
    width: 680px;
    height: 380px;
    background-color: #fff;

}

.product__left_laptop img {
    width: 570px;
    height: 380px;
    margin-top: 5px;
}



.product__left img {
    width: 680px;
    height: 380px;
    margin-top: 5px;
}



.product__box {
    display: flex;
}

.product__right {
    margin-left: 100px;
    width: 430px;
    height: 786px;

}

.product__info {
    width: 430px;
    height: 100px;
    background-color: #F75B00;
    border-radius: 10px;
}

.price__list-new {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 242, 0);
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0 0px 10px;
    letter-spacing: 1px;

}

.price__list-old {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: line-through;
    font-size: 18px;
    margin-left: 10px;
    letter-spacing: 1px;

}

.img_products_laptop {
    width: 570px;
    height: 380px;
    margin: 0 50px;
}

.product__right-list {
    width: 418px;
    height: 678px;
    margin: 5px;
}

.khuyenmai {
    width: 376px;
    height: 56px;
    padding: 10px;
    background-color: rgb(234, 236, 240);
}

.product__info--price {
    width: 396px;
    height: 271px;
    border: 1px;
    margin: 10px;
}

.product__option-top {
    border-radius: 5px;
    width: 378px;
    border: 1px solid #ccc;
    margin: auto;
}

.list__sale_vanban {
    margin-top: 5px;
    padding: 0px 0 0px 10px;
}

.products__sale {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    padding-top: 10px;
}

.product__option-list {
    border-radius: 10px;
    border: 8px solid, #F75B00;
    padding-top: 20px;
    margin-top: -20px;
    width: 430px;
}

.left_slideShow i {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    color: #101828;
    top: 280px;
    background-color: #fff;
}

.right_slideShow i {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 280px;
    left: 810px;
    color: #101828;
    background-color: #fff;
}

.info_transport {
    margin: 10px 30px;
}

.add_cart a {
    color: #2A83e9;
    text-decoration: none;
}

.buy_installment a,
.buy_now a,
.installment_by_card a {
    color: #fff;
    text-decoration: none;
}

.box__handle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 20px 10px 20px 20px;
    width: 90%;
}

.box__handle .add_cart {
    background-color: #fff;
    width: 184px;
    height: 52px;
    border: 2px solid #2A83E9;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
}

.box__handle .buy_now {
    background-color: rgb(252, 118, 0);
    width: 184px;
    height: 52px;
    border: 2px solid rgb(252, 118, 0);
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
}

.box__handle .buy_installment {
    background-color: #2f80ed;
    width: 184px;
    height: 52px;
    border: 2px solid #2A83E9;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
}

.box__handle .installment_by_card {
    background-color: #2f80ed;
    width: 184px;
    height: 52px;
    border: 2px solid #2A83E9;
    text-align: center;
    border-radius: 10px;
    line-height: 50px;
}

.info_details {
    margin-top: 20px;
    width: 680px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
}

.info_details .titile_store {
    font-size: 20px;
    margin-bottom: 10px;

}

.info_details .info_product_safe,
.info_product_box,
.info_product_changeError {
    padding: 10px;
    font-weight: 300;
}

.img_details_skill img {
    width: 680px;
    height: 517px;
    border-radius: 20px;
}

.process_details li {
    border-bottom: 2px solid rgba(204, 204, 204, 0.3);
    margin: 10px;

}

.process_details aside {
    display: inline-block;
}

.process_details span {
    margin-left: 60px;
}

.process_details .sonhan {
    margin-left: 116px;
}

.process_details .sonhan1 {
    margin-left: 110px;
}

.process_details .sonhan2 {
    margin-left: 91px;
}

.process_details .sonhan3 {
    margin-left: 78px;
}

.process_details .sonhan4 {
    margin-left: 85px;
}

.process_details ul {
    padding: 0;
}