.container__addCart {
    background-color: #F9FAFB;

    .wrapper {
        .title__product {}

        .wrapper__box {
            .product__box {
                display: flex;
                justify-content: center;

                .left_slideShow {}

                .product__left_laptop {
                    .img_products_laptop {}

                    .product_details {
                        .info_details {
                            .titile_store {}

                            .info_product_safe {}

                            .info_product_box {}

                            .info_product_changeError {}
                        }
                    }

                    .info_details_skill {
                        .img_details_skill img {
                            height: 517px;
                            width: 690px;
                        }
                    }
                }

                .product__left_laptop img {
                    width: 680px;
                    height: 380px;
                }

                .right_slideShow {}

                .product__right {
                    width: 420px;
                    height: 805px;

                    .product__rightlist {
                        .product__info {
                            background-image: url('https://cdnv2.tgdd.vn/webmwg/2024/ContentMwg/images/scenario/olgr-dt-min.png');
                            width: 430px;
                            height: 100px;
                            border-radius: 10px;

                            .product__info__size {}
                        }
                    }
                }
            }
        }
    }
}